<div class="breadcrumbs">         

	<% if @current_collection #checking if we are under any collection %> 

		<% if @current_collection.ancestors == [] %>

			<%= link_to root_path do %>
				<i class="fa fa-arrow-left"></i>
			<% end %> 

		<% else %>

			<% collection =@current_collection.ancestors.first %> 

			<%= link_to browse_path(collection) do %>
				<i class="fa fa-arrow-left"></i>
			<% end %> 

		<% end %>

	<% else #if we are not under any collection%>  

	<% end %> 

</div>