<div class="collection-wrapper left">

	<div class="collection-title">
		<h5><%= collection.title %></h5>
	</div>

<%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
