<div class="collection-wrapper left">

	<div class="collection-title">

		<%= link_to browse_path(collection) do %>

			<h5><%= collection.title %></h5>

		<% end %>

	</div>

	<div class="collection-users-wrapper">


	</div>


</div>

