<ul>
	<% @collection.links.reverse.first(3).each do |link| %>

		<li>

			<a href="<%= link.url %>" onclick="window.open(this.href); return false;" target="_blank">
				<%= link.description.downcase%> | <%= link.url.downcase %>
			</a>

		</li>

	<% end %>

</ul>