<div class="content-wrapper">
	<div class="contact-body">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima obcaecati doloribus fugiat delectus soluta, amet nobis consectetur nam suscipit facilis odit eaque quasi dolorum laudantium deleniti sapiente perspiciatis quia in.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus similique, asperiores nemo ea adipisci hic fugiat, laborum deserunt quas delectus! Perferendis fugiat architecto nam ea temporibus eligendi eum accusamus! Explicabo!
		</p>
	</div>
</div>