<%= provide(:title, 'Home') %>

<div class="content-wrapper">

	<div class="hero">

		<h3>Save links. Make collections. Share them with friends.</h3>

		<p>Connect with Slack, Asana and Atlassian to store project links with teams.</p>

	</div>

	<div class="how-to-use">
		

	</div>

</div>