<%= provide(:title, 'Home') %>

<div class="content-wrapper">

	<div class="hero">

		<h3>Save links. Make collections. Share them with friends.</h3>

		<p>Connect with Slack, Asana and Atlassian to store project links with teams.</p>

	</div>

	<div class="how-to-use">

		<div class="column">

			<i class="fa fa-link"></i>
			
		</div>

		<div class="column">

			<i class="fa fa-folder-o"></i>

		</div>

		<div class="column">

			<i class="fa fa-share-alt"></i>

		</div>

	</div>

</div>