/* --------------------------------------------------
   Collections
-------------------------------------------------- */
 
.collection-wrapper {
	background-color: $lightgrey;
	@include border-radius(2px);
	border:1px solid $greyD;
	@include box-shadow(0px,0px,2px,0px, rgba(0,0,0,0.1));
	width:48%;
	margin: 1% 1% 0 1%;
	height: 120px;
	
	&:hover {
		-webkit-transition:ease-in all 100ms;
		-webkit-transform: scale(1.05,1.05); /* Safari */
		transform: scale(1.05,1.05);
	}

	@include breakpoint(small) {
		width:31.3%;
	}

	@include breakpoint(medium) {
		width:23%;
	}
	
	@include breakpoint(medium-large) {
		width:18%;
	}
	
	
	.collection-title {
		text-align: center;
		border-bottom: 1px solid $greyE;
		background-color: $white;
		
		a {
			@extend .group;
		}
		
		h5 {
			color:$green;
			font-weight: 600;
			margin: 0;
			line-height: 30px;
			
			&:hover {
				text-decoration: underline;
			}

		}
	}

	/* --------------------------------------------------
	   Collection Links
	-------------------------------------------------- */
	
	.collection-links-wrapper {
		padding: 0;
		
		ul {	
			height: 75px;
			margin: 5px;
			padding: 0;
			overflow-y:hidden;

			li {
				margin: 0 0 5px 0;
				list-style: none;
				text-align: center;
		
				a {

					width: 100%;
					font-variant: small-caps;
					color: $grey9;
					@include font-size(14);
					white-space: nowrap;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	/* --------------------------------------------------
	   New Collection Form
	-------------------------------------------------- */
			.new-collection-form {
				text-align:center;
				border:none;
				color:$grey7;
				width: 100%;
				font-weight: 500;
				
				&::-webkit-input-placeholder {
					color:$greyB;
					font-variant: small-caps;
					font-weight: 500;
				}
			
			}

			.form-submit-button {

				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: $green;
				background-clip: padding-box;
				border:none;
				padding: 10px;
				@include font-size(40);
				width: 100%;
				color:$white;
				font-weight: 600;
				font-variant: small-caps;
				-webkit-transition:ease-in all 100ms;
				transition:ease-in all 100ms;
				

				
				

				&:hover {
					background-color: $dark-green;
				}
			}
}
