/* --------------------------------------------------
   Collections
-------------------------------------------------- */
.collection-wrapper {
	background-color: $lightgrey;
	@include border-radius(2px);
	border:1px solid $greyD;
	@include box-shadow(0px,0px,2px,0px, rgba(0,0,0,0.1));
	width:90%;
	margin: 5%;
	// height: 150px;
	
	@include breakpoint(small) {
		width:45%;
		margin: 2.5%;
	}
	
	@include breakpoint(medium) {
		width:30%;
		margin: 1.6%;
	}

	@include breakpoint(medium-large) {
		width:23%;
		margin: 1%;
	}
	
	
	
	.collection-title {
		text-align: center;
		border-bottom: 1px solid $greyE;
		background-color: $body;
		
		a {
			@extend .group;
		}
		
		h5 {
			color:$green;
			font-weight: 600;
			font-variant: small-caps;
			margin: 0;
			line-height: 30px;
			
			&:hover {
				text-decoration: underline;
			}

		}
	}





	/* --------------------------------------------------
	   Collection Links
	-------------------------------------------------- */
	
	.collection-links-wrapper {
		padding: 0;
		
		ul {	
			height: 75px;
			margin: 5px;
			padding: 0;
			overflow-y:hidden;

			li {
				margin: 0 0 5px 0;
				list-style: none;
		
				a {

					width: 100%;
					font-variant: small-caps;
					color: $grey9;
					@include font-size(14);
					white-space: nowrap;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	/* --------------------------------------------------
	   Collection Users
	-------------------------------------------------- */
	    
}