/* --------------------------------------------------
   Collections
-------------------------------------------------- */
 
.collection-wrapper {
	background-color: $lightgrey;
	@include border-radius(2px);
	border:1px solid $greyD;
	@include box-shadow(0px,0px,2px,0px, rgba(0,0,0,0.1));
	width:90%;
	margin: 5%;
	// height: 150px;
	
	@include breakpoint(small) {
		width:45%;
		margin: 2.5%;
	}
	
	@include breakpoint(medium) {
		width:200px;
		margin: 1.6%;
	}
	
	
	
	.collection-title {
		text-align: center;
		border-bottom: 1px solid $greyE;
		background-color: $body;
		
		a {
			@extend .group;
		}
		
		h5 {
			color:$green;
			font-weight: 600;
			margin: 0;
			line-height: 30px;
			
			&:hover {
				text-decoration: underline;
			}

		}
	}

	/* --------------------------------------------------
	   Collection Users
	-------------------------------------------------- */
	    
}

.breadcrumbs { 
   margin:10px 0; 
   font-weight:bold; 
} 
.breadcrumbs a { 
   color:#1D96EF; 
   text-decoration:none; 
}