/* --------------------------------------------------
   Specific Variables
-------------------------------------------------- */
$link-height: 40px;
   
/* --------------------------------------------------
   Links
-------------------------------------------------- */
.link-wrapper {
	@extend .group;
	@include border-radius(3px);
	@include box-shadow(0px,0px,2px,0px, rgba(0,0,0,0.1));
	background-color: $white;
	border:1px solid $greyD;
	width:95%;
	margin: 10px 2.5% 0px 2.5%;

	&:hover {
		background-color: $lightgrey;
	}
	
	/* --------------------------------------------------
	   Link Mover Section
	-------------------------------------------------- */

	.link-grabber {
		@extend .group;
		float: left;
		cursor: move;
		
		i {
			float: left;
			color:$greyA;
			padding: 0 5px;
			margin: 0 5px;
			line-height: $link-height;

			&:hover {
				color:$blue;
				-webkit-transition:ease-in all 100ms;
				-webkit-transform: scale(1.3,1.3); /* Safari */
				transform: scale(1.3,1.3);
			}
			
		}
	}


	/* --------------------------------------------------
	   Favourite Section
	-------------------------------------------------- */

	.link-favourite, .link-favourite-selected {
		@extend .group;
		float: left;
		cursor: pointer;
		
		i {
			float: left;
			padding: 0 5px;
			margin:0 5px;
			line-height: $link-height;

			&:hover {
				color:$yellow;
				-webkit-transition:ease-in all 100ms;
				-webkit-transform: scale(1.3,1.3); /* Safari */
				transform: scale(1.3,1.3);
				
			}
			
		}
	}

	.link-favourite {
		
		i {
			color:$greyA;
		}
	
	}

	.link-favourite-selected {

		i {
			color:$yellow;
		}
	
	}

	/* --------------------------------------------------
	   Edit Link Section
	-------------------------------------------------- */

	.edit-link-button {	
		@extend .group;
		float: left;
		cursor: pointer;
		
		i {
			float: left;
			padding: 0 5px;
			margin:0 5px;
			line-height: $link-height;

			&:hover {
				-webkit-transition:ease-in all 100ms;
				-webkit-transform: scale(1.3,1.3); /* Safari */
				transform: scale(1.3,1.3);	
			}
		}

		.edit-button {
			color:$grey7;
			
			&:hover {
				color:$blue;
			}
		}

		.check-button {
			display:none;
			color:$green;
			
		}

	}	
	
	/* --------------------------------------------------
	   Link Description Section
	-------------------------------------------------- */
	
	.link-show-info, .link-edit-info {
		color:$grey7;
	
		.link-description {
			float: left;
			
			h5 {
				font-weight: 600;
				@include font-size(16);
				line-height: $link-height;
				font-variant: small-caps;
				padding: 0 10px;
				margin: 0 10px;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	

	/* --------------------------------------------------
	   Links Collections Section
	-------------------------------------------------- */

	.link-collection {
		float: right;
		
		p {
			color:$grey6;
			line-height: $link-height;
			float: right;
			margin-right: 5px;
			padding: 0 5px;
			font-weight: 600;
			cursor: pointer;
			@include font-size(12);
			
			&:hover {
				color:$blue;
			}
			
		}
	}

	/* --------------------------------------------------
	   SHOW URL Button
	-------------------------------------------------- */

	.show-url-button {	
		float: right;
		cursor: pointer;

		i {
			color:$greyA;
			float: right;
			padding: 0 5px;
			margin: 0 5px;
			line-height: $link-height;

			&:hover {
				color:$blue;
				-webkit-transition:ease-in all 100ms;
				-webkit-transform: scale(1.3,1.3); /* Safari */
				transform: scale(1.3,1.3);
			}

		}

	}


	/* --------------------------------------------------
	   Delete Link Section
	-------------------------------------------------- */

	.delete-link-button {	
		float: right;

		i {
			color:$greyA;
			float: right;
			padding: 0 5px;
			margin: 0 20px 0 5px;
			line-height: $link-height;

			&:hover {
				color:$red;
				-webkit-transition:ease-in all 100ms;
				-webkit-transform: scale(1.3,1.3); /* Safari */
				transform: scale(1.3,1.3);
			}

		}

	}	

	/* --------------------------------------------------
	   Link URL Section
	-------------------------------------------------- */

	.link-url {
		float: left;
		width: 100%;
		overflow: hidden;
		cursor:default;
		display: none;
		background-color: rgba(0,0,0,0.02);
		
		p {	
			padding: 0 20px;
			color:$grey7;
			line-height: 30px;
			@include font-size(12);
		}
	}

}