/* --------------------------------------------------
  Widths and Heights
-------------------------------------------------- */
$top-bar-height: 50px;
$side-bar-width: 200px;
$desktop-width: 1180px;

/* --------------------------------------------------
  Core
-------------------------------------------------- */
$white: #FFF;
$black: #000;
$body: #F8F8FF;
  
/* --------------------------------------------------
  Greys
-------------------------------------------------- */
$grey1: #111;
$grey2: #222;
$grey3: #333;
$grey4: #444;
$grey5: #555;
$grey6: #666;
$grey7: #777;
$grey8: #888;
$grey9: #999;
$greyA: #AAA;
$greyB: #BBB;
$greyC: #CCC;
$greyD: #DDD;
$greyE: #EEE;
$lightgrey: #F7F7F7;

/* --------------------------------------------------
  Reds
-------------------------------------------------- */
$red: #EF634A;
$dark-red: #DF533A;
  

/* --------------------------------------------------
  Oranges
-------------------------------------------------- */
$orange: #FFC48C;

/* --------------------------------------------------
  Yellows
-------------------------------------------------- */
$yellow: #FEC845;

/* --------------------------------------------------
  Greens
-------------------------------------------------- */
$green: #6FD679;
$light-green: #7BE183;
$dark-green: #5FC669;  

/* --------------------------------------------------
  Blues
-------------------------------------------------- */
$blue: #4D9DE0;
$dark-blue: #003E65;
$light-blue: #ADCDFF;

