<!-- This one is the Star Buttons -->

<%= link_to favourite_link_path(link), id: dom_id(link, :favourite), remote: true  do %>

		<% if current_user.favourites.where(link_id: link).present? %>

			<div class="link-favourite">

				<i class="fa fa-star"></i>

			</div>

		<% else %>
			<div class="link-favourite">

				<i class="fa fa-star-o"></i>	
			</div>

		<% end %>

<%end%>
