<a href="<%= link.url %>" onclick="window.open(this.href); return false;" target="_blank" class="link-show-info editable" >

	<div class="link-description">

		<h5><%= link.description %></h5>

	</div>

</a>