<div class="collection-wrapper left">

	<div class="collection-title">

		<h5><%= link.description %></h5>
		
	</div>

<%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
