<div class="link-wrapper left">

	<div class="link-description">

		<h5><%= link.description %></h5>

	</div>

	<div class="link-url">

		<p><%= link.url %></p>

	</div>


	<%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>

		<i class="fa fa-times delete-link-button"></i>

	<% end %>
		
	

</div>
