# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f3470de9d831e0b9fef4483f0d6d9f09979f196d38c23a2416a8e7c69e3e13fe6a13b2f4830c9594e975435db1eeb17d0ac3975377a44207e793cdb2379c3c5b

test:
  secret_key_base: 76563b9bcda886392761398b33f354c281cc823881fbdfa7d3d41dbd057b488f6c19a14d25ef00f5a976ca3b63bb0150cf43f71b604d46de42ae47ee3b5345b4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
