/* --------------------------------------------------
Devise Layout Template
-------------------------------------------------- */
.l-devise {

/* --------------------------------------------------
Devise sign in / Register
-------------------------------------------------- */
	.devise {
		@extend .group;
		background-color: #fff;
		min-width: 350px;

		@include breakpoint(medium) {
			width: 770px;
			margin: 125px auto;
			border-radius: 3px;
			border: 1px solid #dedede;
			min-height: 300px;
		}

		.devise-upsell {
			background: #4D9DE0;

			@include breakpoint(medium) {
				width: 300px;
				float: left;
				min-height: 300px;
				@include border-left-radius(3px);
			}
		}

		.devise-form {
			position: relative;
			background-color: #fff;
			padding: 20px;

			@include breakpoint(medium) {
				padding: 30px;
				float: right;
				width: 450px;
			}

			.field-row {

				input {
					width:100%;
					margin: 10px 0;
					color:$grey5;
				}
			
			}

		}

		h1 {
			color: #fff;
			margin: 0 0 15px 0;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			letter-spacing: 5px;
			font-size: 50px;
			line-height: 200px;
			font-weight: 500;
			text-align: center;
			font-variant: small-caps;
			font-family: 'Helvetica Neue' sans-serif;
			
			@include breakpoint(medium) {
				line-height: 300px;
			}
			
		}

		h2 {
			@include font-size(30);
			font-weight: 300;
			color: $blue;
			margin:0 0 30px 0;
			font-variant: small-caps;
			float: left;
		}
		
		// Slogan
		
		.devise-slogan {
			margin: 0;
			width: 100%;
			padding: 0;
			display:block;
			
			@include breakpoint(medium) {
				display: none;
			}
			
			h3 {	
				@include font-size(30);
				margin: 0;
				text-align: center;
				font-variant: small-caps;
				font-family: 'Helvetica Neue' sans-serif;
				color:$grey6;
			}
		}

		.devise-slogan-bottom {
			display:none;
			margin: 0;
			width: 300px;
			padding: 0;
			float: left;
			
			@include breakpoint(medium) {
				display:block;
			}
			
			h3 {	
				@include font-size(30);
				text-align: center;
				font-variant: small-caps;
				font-family: 'Helvetica Neue' sans-serif;
				color:$grey6;
			}
		}


		.login-actions {
			@extend .group;
			margin: 10px 0px;
			text-align: center;
			
				.login-button {
					background-color: $greyE;
					border-style: none;
					border:1px solid $greyC;
					color:$grey6;
					
					&:hover {
						background-color: #DFDFDF;
					}
				}

				input[type="submit"] {
					color:$grey6;
				}
		}

		.devise-links {
			margin-top: 30px;
			
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				
				li {
					list-style-type: none;
					display: inline;
					
					&:first-child {
						float: left;
					}

					&:last-child {
						float: right;
					}
					
					a {
						color: $grey6;
						@include font-size(18);
						font-variant: small-caps;
						
						&:hover {
							text-decoration: underline;	
						}
					}
				}
			}
		}
	}
}
