.l-application {

/* --------------------------------------------------
Sidebar
-------------------------------------------------- */
.sidebar {
	height:100vh;     // Need to sort this out
	@extend .group;
	background-color: $dark-blue;
	width: 200px;
	position: fixed;
	left:0;
	top: 0;
	z-index: 1;
	
	@include breakpoint(medium) {
		display:block;
	}
	
	
	/* --------------------------------------------------
	   Logo
	-------------------------------------------------- */
	.logo {
		cursor: default;
		display: block;
		text-align: left;
		@include font-size(30);
		line-height: 44px;
		height: 50px;
		font-weight: 500;
		letter-spacing: 4px;
		color: #FFF;
		font-variant: small-caps;
		padding: 0 20px;
		margin: 0;
		background-color: $blue;
		@include no-select(none);
	}
	
	/* --------------------------------------------------
	   Sidebar Close
	-------------------------------------------------- */
	    
	.sidebar-close {
	 	position: absolute;
	 	cursor:pointer;
	 	top: 16px;
	 	right: 16px;
	 	color:$greyE;
	 	
	 	&:hover {
	 		color:$white;
			-webkit-transition:ease-in all 100ms;
			-webkit-transform: scale(1.3,1.3); /* Safari */
			transform: scale(1.3,1.3);
	 	}
	}

	/* --------------------------------------------------
	   Main Nav
	-------------------------------------------------- */
	.main-nav {
		text-align: left;
		// border-top: 1px solid $greyA;
		// border-bottom: 1px solid $greyA;

		ul {
			@extend .group;
			list-style-type: none;
			margin: 0;
			padding: 0;

			.selected li {
				background-color: $darker-blue;
			}
			
			
			li {
				display: block;
				position: relative;
				text-overflow: ellipsis;
				
				
				&:hover {
					background-color: $darker-blue;
				}
				


				p {
					text-rendering: optimizeLegibility;
					color: #FFF;
					padding: 0px 20px;
					line-height: 30px;
					width: 200px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.new-collection-sidebar, .favourite-button {
					position: absolute;
					top:5px;
					float: right;
					font-size: 2rem;
					
					&:hover {
						-webkit-transition:ease-in all 100ms;
						-webkit-transform: scale(1.3,1.3); /* Safari */
						transform: scale(1.3,1.3);
					}
				}

				.new-collection-sidebar {
					color:$white;
					right: 15px;
				}

				.favourite-button {
					color:$yellow;
					right:14px;
				}

			}


			.title-link {
				p {
					font-weight: 600;
					@include font-size(16);
					font-variant: small-caps;
					margin-top: 5px;
				}
			}
		}

		.sidebar-collection-links-wrapper {
			@extend .group;

			.sidebar-collection-links {
				p {	
					margin-top: 2px;
					color:$greyE;
					font-weight: 500;
					@include font-size(12);
				}
			}
		}
	}

	/* --------------------------------------------------
	   Footer
	-------------------------------------------------- */
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		padding: 10px 20px;
		
		p {
			@include font-size(12);
			margin: 0;
		}
	}
}
}