.l-application {

/* --------------------------------------------------
Sidebar
-------------------------------------------------- */
.sidebar {
	height:100vh;     // Need to sort this out
	@extend .group;
	background-color: $blue;
	width: 200px;
	position: fixed;
	left:0;
	top: 0;
	z-index: 1;
	
	/* --------------------------------------------------
	   Logo
	-------------------------------------------------- */
	.logo {
		display: block;
		text-align: left;
		@include font-size(30);
		line-height: 30px;
		font-weight: 500;
		margin-left: 20px;
		letter-spacing: 5px;
		color: #FFF;
		font-variant: small-caps;
	}

	/* --------------------------------------------------
	   Main Nav
	-------------------------------------------------- */
	.main-nav {
		text-align: left;
		// border-top: 1px solid $greyA;
		// border-bottom: 1px solid $greyA;

		ul {
			@extend .group;
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			li {
				display: block;
				position: relative;
				
				&:hover {
					background-color: $dark-blue;
				}
				

				p {
					text-rendering: optimizeLegibility;
					color: #FFF;
					padding: 0px 20px;
					line-height: 30px;
				}

				.new-collection-sidebar, .favourite-button {
					position: absolute;
					top:5px;
					float: right;
					font-size: 2rem;
					
					&:hover {
						-webkit-transition:ease-in all 100ms;
						-webkit-transform: scale(1.3,1.3); /* Safari */
						transform: scale(1.3,1.3);
					}
				}

				.new-collection-sidebar {
					color:$white;
					right: 15px;
				}

				.favourite-button {
					color:$yellow;
					right:14px;
				}

			}

			.sidebar-links {
				p {
					font-weight: 400;
					@include font-size(10);
					text-transform: uppercase;
				}
			}

			.title-link {
				p {
					font-weight: 600;
					@include font-size(12);
					font-variant: small-caps;
					margin-top: 10px;
				}
			}
		}

		.sidebar-collection-links-wrapper {
			@extend .group;

			.sidebar-collection-links {
				p {	
					color:$greyE;
					font-weight: 500;
					@include font-size(13);
				}
			}
		}
	}

	/* --------------------------------------------------
	   Footer
	-------------------------------------------------- */
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		padding: 10px 20px;
		
		p {
			@include font-size(12);
			margin: 0;
		}
	}
}
}