.l-application {
/* --------------------------------------------------
   Topbar
-------------------------------------------------- */
.top-bar {
	width: calc(100% - 200px);
	@include box-shadow(0px,0px,2px,1px,rgba(0,0,0,0.2));
	background-color: #FFF;
	top:0;

	// Top Section
	.top-section {
		@extend .group;
		border-bottom: 1px solid $greyD;
		padding: 10px;

		// Search Section
		.search-wrapper {
			text-align: center;	
			position: relative;
			float: left;

			.search-icon {
				position: absolute;
				right: 10px;
				line-height: 28px;
			}

			.search-form {
				width: 200px ;
				
				@include breakpoint(medium){
					width: 250px;
				}
				

			}

			.search-input {
				@include border-radius(15px);
				background-color: #F8F8F8;
				border: 1px solid $greyC;
				line-height: 30px;
				height: 30px;
				padding-left: 10px;
				width: 200px;
				color: $grey5;
				@include font-size(13);
				
				@include breakpoint(medium){
					width: 250px;
				}
			}	

			::-webkit-input-placeholder {
				font-family: "Helvetica Neue", "Helvetica", sans-serif;
				@include font-size(13);
				color: $grey8;
			}

			.search-input:focus {
				outline:none;
			}
		}




		// Login - Profile Section //
		.login-section {

			// User Avatar Image
			.current-user {

				img {
					cursor:pointer;
					display:block;
					height: 30px;
					width: 30px;
					padding:0;
					margin: 0 10px;
					border-radius:50%;
					border:1px solid $greyA;
					
					&:hover {
						@include box-shadow(0px,0px,0px,3px, $blue);
						border:1px solid $blue;
					}
				}
			}

			// The Pop up section
			.user-popup {
				display:none;
				position:absolute;
				top:$top-bar-height;
				margin: 0;
				text-align: center;
				right:0;
				z-index: 2;
				background-color: $white;
				border-left:1px solid $greyE;
				border-bottom-left-radius: 5px;

				a {
					text-decoration:none;
					padding: 18px 5px;
					margin: 0;
					font-weight: 500;
					@include font-size(12);
					text-transform: uppercase;
					line-height: 50px;
					color:$grey7;

					&:hover {
						color:$blue;
					}

				}

			}

		}

	}



/* --------------------------------------------------
   Bottom Section
-------------------------------------------------- */
	.bottom-section {
		padding: 10px;
		background-color: #F9F9F9;
		position: relative;
		

		.breadcrumbs {
			@extend .group;
			position: absolute;
			left:15px;
			z-index:2;
			
			i {	
				padding: 2px;
				color:$grey6;
				@include font-size(22);
				
				&:hover {
					-webkit-transition:ease-in all 100ms;
					-webkit-transform: scale(1.3,1.3); /* Safari */
					transform: scale(1.3,1.3);
				}
			}
		}

		.section-header {
			position: relative;
			text-align: center;

			h3 {
				margin: 0;
				text-align: center;
				color: $grey4;
				line-height: 30px;
				@include font-size(18);
				
				span {
					
					&:hover {
						border-bottom:1px dotted $greyA;
					}
				}

				.collection-extras {
					padding: 5px;
					cursor: pointer;
					color:$greyA;
					
					&:hover {
						color:$blue;
					}

					.collection-extras-popup {
						position: absolute;
						top:25px;
						left: 15px;
						z-index: 8;
						background-color: $white;
						border:1px solid $greyB;
						border-radius:3px;
						width: 130px;
						-webkit-box-shadow: -2px 2px 1px -1px rgba(0,0,0,0.2);
						-moz-box-shadow: -2px 2px 1px -1px rgba(0,0,0,0.2);
						box-shadow: -2px 2px 1px -1px rgba(0,0,0,0.2);	
											
						ul {
							padding: 0;
							margin: 0;

							li {
								list-style: none;
								margin: 3px 0 ;
								padding: 5px 0;
								text-align: left;
								
								&:hover {
									background-color: $blue;	
								}

								&:hover a {
									color:$white;
								}
								
								a {	
									@include font-size(12);
									color:$grey6;
									padding: 10px 12px 10px 7.5px;
									width: 100px;
									
								}

							}

						}

					}

				}

			}

			.shared-icon {
				position: absolute;
    			top: 0;
    			left: 10px;
    			
    			img {
					float: left;
					border-radius:50%;
					width: 30px;
					height: 30px;
					margin-right: 8px;
					
					&:hover {
					-webkit-transition:ease-in all 100ms;
					-webkit-transform: scale(1.1,1.1); /* Safari */
					transform: scale(1.1,1.1);
				}
				}

				.tooltip{
				    display: inline;
				    position: relative;
				}

				.tooltip:hover:after{
				    background: #333;
				    background: rgba(0,0,0,.8);
				    border-radius: 5px;
				    top: 30px;
				    color: #fff;
				    left: -50px;
				    content: attr(title);
				    padding: 5px 5px;
				    position: absolute;
				    z-index: 98;
				}

			}
		
		}

	}

}


}