.l-application {
/* --------------------------------------------------
   Topbar
-------------------------------------------------- */
.top-bar {
	width: 100%;
	@include box-shadow(0px,0px,2px,1px,rgba(0,0,0,0.2));
	background-color: #FFF;
	z-index: 1;
	
	@include breakpoint(medium) {
		width: calc(100% - 200px);
	}

	/* --------------------------------------------------
	   Top Section
	-------------------------------------------------- */
	.top-section {
		@extend .group;
		border-bottom: 1px solid $greyD;
		
		/* --------------------------------------------------
		   Menu
		-------------------------------------------------- */
		 .fa-bars {
		 	float: left;
			@include font-size(20); 
			padding: 15px;	
			color:$grey6;
			cursor: pointer;	
			display: block;
			border-right: 1px solid $greyD;
			-webkit-transition:ease-in all 100ms;
			
			&:hover {
				color: $blue;
			}

			@include breakpoint(medium) {
				display:none
			}
		 }
		
		/* --------------------------------------------------
		   BreadCrumbs
		-------------------------------------------------- */
		
		.breadcrumbs {
			float: left;
			padding: 15px;
			
			i {	
				color:$grey6;
				@include font-size(20);
				
				&:hover {
					-webkit-transition:ease-in all 100ms;
					-webkit-transform: scale(1.1,1.1); /* Safari */
					transform: scale(1.1,1.1);
				}
			}
		}

		/* --------------------------------------------------
		   Search
		-------------------------------------------------- */
		.search-wrapper {
			text-align: center;	
			position: relative;
			float: left;

			.search-icon {
				position: absolute;
				right: 10px;
				line-height: 25px;
			}

			.search-form {
				width: 200px ;
				
				@include breakpoint(medium){
					width: 250px;
				}
			}

			.search-input {
				@include border-radius(15px);
				background-color: #F8F8F8;
				border: 1px solid $greyC;
				line-height: 25px;
				height: 25px;
				padding-left: 10px;
				width: 200px;
				color: $grey5;
				@include font-size(13);
				
				@include breakpoint(medium){
					width: 250px;
				}
			}	

			::-webkit-input-placeholder {
				font-family: "Helvetica Neue", "Helvetica", sans-serif;
				@include font-size(13);
				color: $grey8;
			}

			.search-input:focus {
				outline:none;
			}
		}


		/* --------------------------------------------------
		   Login Section
		-------------------------------------------------- */
		.login-section {

			// User Avatar Image
			.current-user {

				img {
					cursor:pointer;
					display:block;
					height: 30px;
					width: 30px;
					margin:10px;
					border-radius:50%;
					border:1px solid $greyA;
					
					&:hover {
						@include box-shadow(0px,0px,0px,3px, $blue);
						border:1px solid $blue;
					}
				}
			}

			/* --------------------------------------------------
			   Pop up Section
			-------------------------------------------------- */
			.user-popup {
				display:none;
				position:absolute;
				margin: 0;
				text-align: center;
				right:45px;
				top: 5px;
				z-index: 2;
				background-color: $white;

				a {
					text-decoration:none;
					padding: 10px 5px;
					margin: 0;
					font-weight: 500;
					@include font-size(12);
					text-transform: uppercase;
					line-height: 40px;
					border-left:1px solid $greyE;
					border-right:1px solid $greyE;
					color:$grey7;

					&:hover {
						color:$blue;
					}

				}

			}

		}

	}



/* --------------------------------------------------
   Bottom Section
-------------------------------------------------- */
	.bottom-section {
		@extend .group;
		padding: 10px;
		background-color: #F9F9F9;
		position: relative;
		z-index: 1;
		

		/* --------------------------------------------------
		   Topbar Links
		-------------------------------------------------- */
		
		.topbar-links {
			position: absolute;
			left: 0;
			top: 0;
			margin-left: 10px;
			
			
			p {	
				float: left;
				padding: 5px;
				line-height: 36px;
				color:$grey8;
				@include font-size(16);
				font-variant: small-caps;
								
				&:hover {
					color:$blue;
				}
				
			}
		}   


		/* --------------------------------------------------
		   Title 
		-------------------------------------------------- */

		.section-header {
			text-align: center;
			margin: 0;
		
			span {
				margin: 0;
				text-align: center;
				color: $grey4;
				line-height: 30px;
				@include font-size(18);
				cursor: default;
				
				
				input { 

					width: 200px;
					border:1px solid $greyD;
					border-radius:4px;
				
				}

				::selection {
					color: $grey4; 
					background-color: $light-blue;
				} 
			}

			.best_in_place_title {

				&:hover {
					cursor: text;
					border-bottom:1px dotted $greyA;
				}
			}

			/* --------------------------------------------------
			   Collection Actions
			-------------------------------------------------- */

			.collection-extras {
				cursor: pointer;
				color:$greyA;
				
				&:hover {
					color:$blue;
				}

				.collection-extras-popup {
					position: absolute;
					top:15px;
					left: 5px;
					z-index: 10;
					background-color: $white;
					border:1px solid $greyB;
					border-radius:3px;
					width: 150px;
					-webkit-box-shadow: -2px 2px 1px -1px rgba(0,0,0,0.2);
					-moz-box-shadow: -2px 2px 1px -1px rgba(0,0,0,0.2);
					box-shadow: -2px 2px 1px -1px rgba(0,0,0,0.2);	
										
					ul {
						padding: 0;
						margin: 0;

						li {
							list-style: none;
							margin: 3px 0 ;
							padding: 0;
							text-align: left;
							@extend .group;
							
							
							&:hover {
								background-color: $blue;	
							}

							&:hover p {
								color:$white;
							}
							
							p {	
								font-family: "Helvetica Neue", "Helvetica", sans-serif;
								float: left;
								@include font-size(11);
								color:$grey6;
								padding: 5px;
							}

							i {	
								float: left;
								text-align: center;
								color:$greyC;
								padding: 5px 8px;
							}

							.fa-times {
								@include font-size(18);
								width: 33px;
							}

						}

					}	

				}

			}

		}

		/* --------------------------------------------------
		   Collections Users Icons
		-------------------------------------------------- */

		.shared-icons {
			position: absolute;
			cursor: default;
			right:10px;
			top:8px;
			line-height: 50px;
			
			img {
				border-radius:50%;
				margin-right: 5px;
			}

			.shared-user {
				position: relative;
				float: right;
    				@include no-select(none);
					
				&:hover img {
					// -webkit-transition:ease-in all 100ms;
					-webkit-transform: scale(1.1,1.1); /* Safari */
					transform: scale(1.1,1.1);
					opacity: 0.2;
					@include box-shadow(0px,0px,0px,3px, $blue);
					border:0.5px solid $blue;
				}

				img {
					width: 25px;
					height: 25px;
					margin-bottom: 2px;
				}

				p {	
					text-align: center;
					position: absolute;
					top:5px;
					left: 4px;
					font-weight: 600;
					color:$blue;
					display: none;
					@include font-size(13);
					font-variant: small-caps;
				}

				&:hover p {
					display:block;
				}

			}

			.creator-user {

    				img {
					width: 30px;
					height: 30px;
					margin-bottom: 0;
				}

				p {	
					top:3px;
					left: 5px;
					@include font-size(15);
				}
			}

		}

	}

}


}